/* CY */
.jumbotron
{
	background: #1b1f30 url(../images/seal-umass-maroon-transparent.png) repeat 0 0;
	color: #fff;
	margin-bottom: 5px;
}

.jumbotron h1
{
	text-align: center;
	font-size: 3em;
	font-weight: 400;
}

.jumbotron .leadspace-buttons {
	text-align: center;
}

.jumbotron .leadspace-buttons a p {
	font-family:'Helvetica Neue';
	margin: 15px;
}

.jumbotron .leadspace-buttons a p b {
	color: #fff;
	font-family: 'Lubalin';
	display: block;
	font-weight: normal;
	padding-top: .25em;
}

.jumbotron .leadspace-buttons a p b::after {
	content: ' »';
}

/* CY */

.people-row {

    margin-top:20px;

}

.people-list {
	margin:0px 0px 0px 0px;
}

.people-list li {
    float:left;
    width: 50%;
	margin:0px 0px 15px 0px;

}

.people-list ul {
	margin:0px 0px 0px 0px;
	//margin-bottom:100px;

}

.people-list .media-body {
	padding-right:20px;

}

.crop{
	float:left;
	margin:0px 0px 0px 0px;
	overflow:hidden; /* this is important */
	position:relative; /* this is important too */
	border:0px solid #ccc;
	width:100px;
	height:105px;
}
	/* input values to crop the image: top, right, bottom, left */

.crop img{
	position:absolute;
	top:-0px;
	left:-0px;
}

#logo {
    //float:right;
    margin-top: -20px;
    width:100px;
    //vertical-align:baseline;
}

