.people-row {

    margin-top:20px;

}

.people-list {
	margin:0px 0px 0px 0px;
}

.people-list li {
    float:left;
    width: 50%;
	margin:0px 0px 15px 0px;

}

.people-list ul {
	margin:0px 0px 0px 0px;
	//margin-bottom:100px;

}

.people-list .media-body {
	padding-right:20px;

}

.crop{
	float:left;
	margin:0px 0px 0px 0px;
	overflow:hidden; /* this is important */
	position:relative; /* this is important too */
	border:0px solid #ccc;
	width:100px;
	height:105px;
}
	/* input values to crop the image: top, right, bottom, left */

.crop img{
	position:absolute;
	top:-0px;
	left:-0px;
}

#logo {
    //float:right;
    margin-top: -20px;
    width:100px;
    //vertical-align:baseline;
}

